---
name: CI

'on':
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

concurrency:
  # https://docs.github.com/en/actions/examples/using-concurrency-expressions-and-a-test-matrix
  group: '${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}'
  cancel-in-progress: ${{ !startsWith(github.ref, 'refs/tags/v') || github.ref != 'refs/heads/main' }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: 'moonrepo/setup-toolchain@v0'
        with:
          auto-install: true
      - run: pnpm install
      - run: moon :build
      - run: moon :test