name: Test documentation deployment

on:
  pull_request:
    branches:
      - main

jobs:
  test-deploy:
    name: Test documentation deployment
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: 'moonrepo/setup-toolchain@v0'
        with:
          auto-install: true
      - run: pnpm install
      - run: moon tari-docs:build
