name: Lint
on:
  pull_request:
    branches:
      - main

jobs:
  run-linters:
    name: Run linters
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: "moonrepo/setup-toolchain@v0"
        with:
          auto-install: true
      - run: pnpm install
      - run: pnpm run lint
